<div class="full-page d-flex flex-column">
  <app-navbar></app-navbar>

  <div class="d-flex flex-row flex-fill">
    <div class="area area-left">
      <div class="scrollable">
        <app-branch-manager [repository]="repository"></app-branch-manager>
      </div>
    </div>

    <div class="area area-center flex-fill flex-grow-1">
      <div class="scrollable">
        <ng-container *ngIf="repository">
          {{repository?.name}}
        </ng-container>
        <ng-container *ngIf="!repository">
          {{ 'PAGES.HOME.NO_REPOSITORY' | translate }}
        </ng-container>

      </div>
    </div>
    <div class="area area-right">
      <div class="scrollable">
        RIGHT PANEL
      </div>
    </div>
  </div>

  <app-bottombar></app-bottombar>
</div>
