<div class="full-page d-flex flex-column">
  <app-topbar></app-topbar>

  <div class="d-flex flex-row flex-fill">
    <div class="area area-left">
      <div class="scrollable">
        <app-branch-manager [repository]="repository"></app-branch-manager>
      </div>
    </div>

    <div class="area area-center flex-fill flex-grow-1">
      <div class="scrollable">
        <ng-container *ngIf="repository">
          {{repository?.name}}
        </ng-container>
        <ng-container *ngIf="!repository">
          {{ 'PAGES.HOME.NO_REPOSITORY' | translate }}
        </ng-container>

      </div>
    </div>
    <div class="area area-right">
      <div class="scrollable d-flex flex-column">
        <div class="staging-sidebar">
          <app-staging-block class="d-flex flex-fill">
            <button class="btn btn-success">
              Stage all changes
            </button>
          </app-staging-block>
          <app-staging-block class="d-flex flex-fill">
            <button class="btn btn-danger">
              Unstage all changes
            </button>
          </app-staging-block>
        </div>
      </div>
    </div>
  </div>

  <app-bottombar></app-bottombar>
</div>
