@import "../../../assets/scss/config";

@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/spacing";

.area {
  position: relative;

  &.area-center {
    flex: 1;
    height: auto;
    background-color: $dashboard-bg-color;
    padding: 0.5rem;
    background-image: url('./../../../assets/img/mindgit.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &.area-left {
    display: flex;
    flex-direction: column;
    min-width: $dashboard-sidebar-left-min-width;
    max-width: $dashboard-sidebar-left-max-width;
    border-right: 1px solid $dashboard-sidebar-border-color;
    background-color: $dashboard-sidebar-bg-color;
  }

  &.area-right {
    display: flex;
    flex-direction: column;
    min-width: $dashboard-sidebar-right-min-width;
    max-width: $dashboard-sidebar-right-max-width;
    border-left: 1px solid $dashboard-sidebar-border-color;
    background-color: $dashboard-sidebar-bg-color;
  }

  .scrollable {
    @extend .p-2;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

