<div class="full-page d-flex flex-column">
  <app-topbar></app-topbar>
  <div class="d-flex flex-row flex-fill">
    <div class="area area-left">
      <div class="scrollable">
        <app-branche-manager></app-branche-manager>
      </div>
    </div>
    <div class="area area-center flex-fill flex-grow-1">
      <div class="scrollable">
        {{repository.name}}
      </div>
    </div>
    <div class="area area-right">
      <div class="scrollable">
        RIGHT
      </div>
    </div>
  </div>
  <app-bottombar></app-bottombar>
</div>
