<div class="full-page d-flex flex-column">
  <app-topbar></app-topbar>
  <div class="d-flex flex-row flex-fill">
    <div class="area area-left bg-secondary">
      <div class="scrollable">
        LEFT
      </div>
    </div>
    <div class="area area-center flex-fill flex-grow-1 bg-primary">
      <div class="scrollable">
        CENTER
      </div>
    </div>
    <div class="area area-right bg-secondary">
      <div class="scrollable">
        RIGHT
      </div>
    </div>
  </div>
  <app-bottombar></app-bottombar>
</div>
