<div class="d-flex flex-row justify-content-between align-items-center">
  <div>
    <a routerLink="/parameters" class="btn">
      <i class="fas fa-folder"></i>
    </a>
    <button class="btn">
      <i class="fas fa-sync"></i>
    </button>
  </div>
  <div>
    <button class="btn">
      <i class="fas fa-download"></i>
    </button>
    <button class="btn">
      <i class="fas fa-upload"></i>
    </button>
    <button class="btn">
      <i class="fas fa-code-branch"></i>
    </button>
    <button class="btn">
      <i class="fas fa-box"></i>
    </button>
    <button class="btn">
      <i class="fas fa-box-open"></i>
    </button>
  </div>
  <div>
    Gwennael Jean
  </div>
</div>
