<div class="full-page d-flex flex-column">
  <a routerLink="/home" class="btn-fixed-top">
    <i class="fas fa-times fa-2x"></i>
  </a>
  <div class="d-flex justify-content-around align-items-center flex-fill">
    <div>
      <ul class="list-group">
        <li class="list-group-item" (click)="openNewProject()" role="button">
          {{ 'PAGES.REPOSITORIES.MENU.ITEMS.OPEN_PROJECT' | translate }}
        </li>
      </ul>
    </div>
    <div>
      <h1>{{ 'PAGES.REPOSITORIES.MENU.ITEMS.REPOSITORY_LIST' | translate }}</h1>
      <ul class="list-unstyled">
        <li *ngFor="let repository of repositories">
          {{repository}}
        </li>
      </ul>
    </div>
  </div>
</div>
